@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.App, input {
  text-align: center;
  font-family: 'Langar', cursive;
  color: aliceblue;
  background-color: #343a40;
}
.user{
  display: flex;
  justify-content: space-around;
}
img{
  border-radius: 50%;
}
.article{
  display: flex;
  justify-content: space-around;
}
table {
  border-collapse: collapse;
  width: 100%;
  overflow-x: scroll;
}

td, th {
  border: 1px solid #315275;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #2e3c4b;
}tr:nth-child(odd) {
  background-color: #343a40;
}
a{
  text-decoration: none;
}
.bio{
  font-family: 'Dancing Script', cursive;
}
.main{
  min-height: 80vh;
}
.footer{
  background-color: #499297;
  color: aliceblue;
  padding: 10px;
  margin-top: 50px;
}
a{
  color: aliceblue;
}
input, button{
  border-radius: 10px;
  padding: 6px;
  margin: 4px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}
.submit{
  background-color:rgb(43, 100, 100) ;
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}
.submit:hover{
  background-color: rgb(11, 39, 133);
}
.high{
  min-height: 80vh;
}
button{
  font-family: 'Langar', cursive;
  color: aliceblue;
  padding: 8px 20px;
}
.pagination{
  display: flex;
  justify-content: center;
}
.pagination li{
  padding: 10px 0px;
  list-style: none;
  background-color: rgb(43, 100, 100);
  margin: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}.pagination li:hover{
  background-color: rgb(11, 39, 133);;
}
.pagination li a {
  padding: 20px;

}
.devusers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.devuser{
  margin: 30px;
  padding: 5px 20px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  position: relative;
  width: 250px;
  background-color: #303f4e;
  box-shadow: 0 4px 8px 0 rgba(236, 236, 236, 0.5), 0 6px 20px 0 rgba(236, 236, 236, 0.5);
}
.sm-item{
  border-radius: 0px;
  margin: 5px;
}
.red{
  color: red;
}
.share{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 300px;
}




@media (min-width: 48em) {
  .userinfo{
    max-width: 50%;
  }
}
@media (max-width: 48em) {
  .user{
    display: flex;
    flex-direction: column;
  }
  .pagination li{
    padding: 10px 0px;
    margin: 2px;
  }
}