@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.App, input {
  text-align: center;
  font-family: 'Langar', cursive;

}
.user{
  display: flex;
  justify-content: space-around;
}
img{
  border-radius: 50%;
}
.article{
  display: flex;
  justify-content: space-around;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
a{
  text-decoration: none;
}
.bio{
  font-family: 'Dancing Script', cursive;
}